In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

###  Scrape the details of Data science recruiters from naukri.com.

In [69]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.naukri.com/"
driver.get(url)

search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")
search_field_designation.send_keys("Data Scientist")
# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [60]:
# Fetching urls 
naukri_urls = []
urls = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for url in urls[0:10]:
    naukri_urls.append(url.get_attribute("href"))

In [61]:
naukri_urls

['https://www.naukri.com/job-listings-data-analytics-data-scientist-intern-work-from-home-talkvalley-llc-kolkata-bangalore-bengaluru-delhi-ncr-0-to-5-years-050621000128?src=jobsearchDesk&sid=16241905837731397&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-lead-predictive-analytics-ave-promagne-chennai-7-to-10-years-140621900598?src=jobsearchDesk&sid=16241905837731397&xp=2&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-redbus-in-ibibo-group-private-limited-bangalore-bengaluru-5-to-8-years-090621001584?src=jobsearchDesk&sid=16241905837731397&xp=3&px=1',
 'https://www.naukri.com/job-listings-immediate-opening-senior-data-scientist-redbus-in-ibibo-group-private-limited-bangalore-bengaluru-5-to-8-years-140621005528?src=jobsearchDesk&sid=16241905837731397&xp=4&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-fractal-analytics-ltd-mumbai-gurgaon-gurugram-bangalore-bengaluru-5-to-9-years-140621500966?src=jobsearchDesk&sid=16241905837731397&xp=5&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-fico-bangalore-bengaluru-6-to-11-years-090621500701?src=jobsearchDesk&sid=16241905837731397&xp=6&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-fractal-analytics-pvt-ltd-gurgaon-gurugram-bangalore-bengaluru-mumbai-all-areas-10-to-15-years-110621003012?src=jobsearchDesk&sid=16241905837731397&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-science-associate-data-scientist-jet2-travel-technologies-pvt-ltd-pune-0-to-2-years-110621008316?src=jobsearchDesk&sid=16241905837731397&xp=8&px=1',
 'https://www.naukri.com/job-listings-chaayos-is-looking-for-data-scientist-chaayos-sunshine-teahouse-pvt-ltd-new-delhi-0-to-5-years-070621000819?src=jobsearchDesk&sid=16241905837731397&xp=9&px=1',
 'https://www.naukri.com/job-listings-associate-data-scientist-algoanalytics-private-ltd-pune-0-to-1-years-160621002621?src=jobsearchDesk&sid=16241905837731397&xp=10&px=1']

In [62]:
print(len(urls))

20

In [63]:
# defining varaibles

time.sleep(4)
# creating empty lists for scraping data
job_location=[]
company_name=[]
experience_required=[]
job_title=[]

In [64]:
# Scraping data from each url
for url in naukri_urls[:10]:
    driver.get(url)    # Saving url                                                     
    
    # fetchinf job_title
    try:
        job = driver.find_element_by_xpath('//h1[@class="jd-header-title"]')  
        job_title.append(job.text)
    except NoSuchElementException:
        job_title.append('-')
        
    #fetching job_location   
    try:
        location = driver.find_element_by_xpath('//div[@class="loc"]')  
        job_location.append(location.text)
    except NoSuchElementException:
        job_location.append('-')
        
     # fetching company name
    try:
        companies = driver.find_element_by_xpath('//div[@class="jd-header-comp-name"]')  
        company_name.append(companies.text)
    except NoSuchElementException:
        company_name.append('-')
        
     # experience
    try:
        experience = driver.find_element_by_xpath('//div[@class="exp"]')  
        experience_required.append(experience.text)
    except NoSuchElementException:
        experience_required.append('-')

In [65]:
print(len(job_location))
print(len(job_title))
print(len(company_name))
print(len(experience_required))

10
10
10
10

In [66]:
time.sleep(4)
# creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"experience_required":experience_required[0:10],
                 "company_name":company_name[0:10],
                 "job_location":job_location[0:10],
                "job_title":job_title[0:10]})
df

,experience_required,company_name,job_location,job_title
0,0 - 5 years,TalkValley LLC,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",Data analytics / Data scientist intern (work f...
1,7 - 10 years,AVE-Promagne,Chennai,Senior Data Scientist / Lead (Predictive Analy...
2,-,-,-,-
3,-,-,-,-
4,5 - 9 years,Fractal Analytics3.9(95 Reviews),"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Senior Data Scientist
5,6 - 11 years,FICO3.8(59 Reviews),Bangalore/Bengaluru,Lead Data Scientist
6,10 - 15 years,Fractal Analytics3.9(95 Reviews),"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Lead Data Scientist
7,0 - 2 years,Jet2 Travel Technologies Pvt. Ltd.,Pune,Data Science- Associate Data Scientist
8,0 - 5 years,Chaayos (Sunshine Teahouse Pvt. Ltd.)3.9(159 R...,New Delhi,Chaayos is Looking For Data Scientist
9,0 - 1 years,AlgoAnalytics Private Ltd.4.0(2 Reviews),Pune( Baner ),Associate Data Scientist

### Scrape the details most watched tv series of all time from imdb.com.

In [101]:
import time

In [2]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [109]:
# creating empty lists for scraping data
series_name=[]
year_of_release=[]
series_rating=[]
seies_votes=[]
run_time=[]

#scraping names
names=driver.find_elements_by_xpath("//h3[@class='lister-item-header']")
for i in names:
    if i.text is None :
        series_name.append("--") 
    else:
        series_name.append(i.text)

# scraping year of release        
year=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in year:
    if i.text is None :
        year_of_release.append("--") 
    else:
        year_of_release.append(i.text)     
        
rating=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']")  # scrapping rating
for i in rating:
    if i.text is None :
        series_rating.append("--") 
    else:
        series_rating.append(i.text)   
        
        
time=driver.find_elements_by_xpath("//span[@class='runtime']")  # scrapping time
for i in time:
    if i.text is None :
        run_time.append("--") 
    else:
        run_time.append(i.text)

genre=driver.find_elements_by_xpath("//span[@class='genre']")  #scrapping genre
for i in genre:
    if i.text is None :
        series_genre.append("--") 
    else:
        series_genre.append(i.text)

In [110]:
print(len(series_name))
print(len(year_of_release))
print(len(series_rating))
print(len(run_time))
print(len(series_genre))

100
100
100
100
100

In [111]:
# creating the dataframe
df=pd.DataFrame({"series_name":series_name,
                 "year_of_release":year_of_release,
                 "series_rating":series_rating,
                 "run_time":run_time,
                 "series_genre":series_genre})
              
df

,series_name,year_of_release,series_rating,run_time,series_genre
0,1. Game of Thrones (2011‚Äì2019),(2011‚Äì2019),9.3,57 min,"Action, Adventure, Drama"
1,2. Stranger Things (2016‚Äì ),(2016‚Äì ),8.7,51 min,"Drama, Fantasy, Horror"
2,3. The Walking Dead (2010‚Äì2022),(2010‚Äì2022),8.2,44 min,"Drama, Horror, Thriller"
3,4. 13 Reasons Why (2017‚Äì2020),(2017‚Äì2020),7.6,60 min,"Drama, Mystery, Thriller"
4,5. The 100 (2014‚Äì2020),(2014‚Äì2020),7.6,43 min,"Drama, Mystery, Sci-Fi"
...,...,...,...,...,...
95,96. Reign (2013‚Äì2017),(2013‚Äì2017),7.5,42 min,"Drama, Fantasy"
96,97. A Series of Unfortunate Events (2017‚Äì2019),(2017‚Äì2019),7.8,50 min,"Adventure, Comedy, Drama"
97,98. Criminal Minds (2005‚Äì2020),(2005‚Äì2020),8,42 min,"Crime, Drama, Mystery"
98,99. Scream: The TV Series (2015‚Äì2019),(2015‚Äì2019),7.1,45 min,"Comedy, Crime, Drama"
99,100. The Haunting of Hill House (2018),(2018),8.6,572 min,"Drama, Horror, Mystery"

###  Scrape the details of trending repositories on Github.com

In [3]:
import time

driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://github.com/"
driver.get(url)

In [36]:
# creating empty lists for scraping data

repository_title=[]
repository_description=[]
language_used=[]


title=driver.find_elements_by_xpath("//span[@class='text-normal']")
for i in title:
    if i.text is None :
        repository_title.append("----") 
    else:
        repository_title.append(i.text)

        
description=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
for i in description:
    if i.text is None:
        repository_description.append("NaN") 
    else:
        repository_description.append(i.text)     
        
language=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
for i in language:
    if i.text is None:
        language_used.append("NaN") 
    else:
        language_used.append(i.text)

In [39]:
# creating the dataframe
df=pd.DataFrame({"repository_title":repository_title[0:15],
                 "repository_description":repository_description[0:15],
                 "language_used":language_used[0:15]})
           
df

,repository_title,repository_description,language_used
0,programthink /,„ÄêÁºñÁ®ãÈöèÊÉ≥„ÄëÊï¥ÁêÜÁöÑ„ÄäÂ§™Â≠êÂÖöÂÖ≥Á≥ªÁΩëÁªú„ÄãÔºå‰∏ìÈó®Êè≠Èú≤ËµµÂõΩÁöÑÊùÉË¥µ,Python
1,AkashSingh3031 /,This repository contains all the DSA (Data-Str...,Jupyter Notebook
2,CaffeineMC /,A Fabric mod designed to improve frame rates a...,Java
3,n8n-io /,Free and open fair-code licensed node based Wo...,TypeScript
4,facebookresearch /,"A data augmentations library for audio, image,...",Python
5,vxunderground /,Collection of malware source code for a variet...,Assembly
6,abuanwar072 /,Responsive Admin Panel or Dashboard using Flutter,Dart
7,EssayKillerBrain /,Âü∫‰∫éÂºÄÊ∫êGPT2.0ÁöÑÂàù‰ª£Âàõ‰ΩúÂûã‰∫∫Â∑•Êô∫ËÉΩ | ÂèØÊâ©Â±ï„ÄÅÂèØËøõÂåñ,Python
8,organicmaps /,"üçÉ Organic Maps is a better fork of MAPS.ME, an...",C++
9,rustdesk /,Yet another remote desktop software,Rust
10,algorithm-visualizer /,üéÜInteractive Online Platform that Visualizes A...,JavaScript
11,academic /,üìù An awesome Data Science repository to learn ...,Go
12,megaease /,A Cloud Native traffic orchestration system,HTML
13,TheBobPony /,For the website,Python
14,donnemartin /,Learn how to design large-scale systems. Prep ...,Python

###  Scrape the details of top 100 songs on billiboard.com.

In [45]:
import time

driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.billboard.com/charts/hot-100"
driver.get(url)

In [46]:
# creating empty lists for scraping data

song_name=[]
artist_name=[]
last_week_rank=[]
peak_rank=[]
weeks_on_board=[]


song=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in song:
    if i.text is None :
        song_name.append("----") 
    else:
        song_name.append(i.text)

        
artist=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in artist:
    if i.text is None:
        artist_name.append("---") 
    else:
        artist_name.append(i.text)     
        
last_rank=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in last_rank:
    if i.text is None:
        last_week_rank.append("---") 
    else:
        last_week_rank.append(i.text)   
        
        
board=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in board:
    if i.text is None:
        weeks_on_board.append("---") 
    else:
        weeks_on_board.append(i.text)
        
        
peak=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in peak:
    if i.text is None:
        peak_rank.append("---") 
    else:
        peak_rank.append(i.text)

In [47]:
print(len(song_name))
print(len(artist_name))
print(len(last_week_rank))
print(len(peak_rank))
print(len(weeks_on_board))

100
100
100
100
100

In [48]:
# creating the dataframe
df=pd.DataFrame({"song_name":song_name,
                 "artist_name":artist_name,
                 "last_week_rank":last_week_rank,
                 "peak_rank":peak_rank,
                 "weeks_on_board":weeks_on_board})
                
df

,song_name,artist_name,last_week_rank,peak_rank,weeks_on_board
0,Butter,BTS,1,1,3
1,Good 4 U,Olivia Rodrigo,2,1,4
2,Levitating,Dua Lipa Featuring DaBaby,3,2,36
3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,12
4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,1,14
...,...,...,...,...,...
95,Things A Man Oughta Know,Lainey Wilson,93,93,4
96,Country Again,Thomas Rhett,89,73,6
97,Drunk (And I Don't Wanna Go Home),Elle King & Miranda Lambert,92,79,7
98,If You Want To,Lil Baby & Lil Durk,-,99,1
99,Seeing Green,"Nicki Minaj, Drake & Lil Wayne",67,12,4

###  Scrape the details team India‚Äôs international fixtures from bcci.tv.

In [54]:
import time

driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.bcci.tv/international/fixtures"
driver.get(url)

In [56]:
# creating empty lists for scraping data
match_title=[]
match_series=[]
time_of_match=[]
match_teams=[]



title=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__format']")
for i in title:
    if i.text is None :
        match_title.append("----") 
    else:
        match_title.append(i.text)

        
series=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in series:
    if i.text is None:
        match_series.append("---") 
    else:
        match_series.append(i.text)     
        
time=driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']")
for i in time:
    if i.text is None:
        time_of_match.append("---") 
    else:
        time_of_match.append(i.text)

teams=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in teams:
    if i.text is None:
        match_teams.append("---") 
    else:
        match_teams.append(i.text)

In [57]:
# creating the dataframe
df=pd.DataFrame({"match_title":match_title,
                 "match_series":match_series,
                 "time_of_match":time_of_match,
                 "match_teams":match_teams})
                 
                
df

,match_title,match_series,time_of_match,match_teams
0,TEST,Final,Friday 18th June 15:00 IST,ICC WORLD TEST CHAMPIONSHIP
1,ODI,1st ODI,Tuesday 13th July 14:30 IST,SRI LANKA V INDIA 2021
2,ODI,2nd ODI,Friday 16th July 14:30 IST,SRI LANKA V INDIA 2021
3,ODI,3rd ODI,Sunday 18th July 14:30 IST,SRI LANKA V INDIA 2021
4,T20I,1st T20I,Wednesday 21st July 19:00 IST,SRI LANKA V INDIA 2021
5,T20I,2nd T20I,Friday 23rd July 19:00 IST,SRI LANKA V INDIA 2021
6,T20I,3rd T20I,Sunday 25th July 19:00 IST,SRI LANKA V INDIA 2021
7,TEST,1st Test,Wednesday 4th August 15:30 IST,ENGLAND V INDIA 2021
8,TEST,2nd Test,Thursday 12th August 15:30 IST,ENGLAND V INDIA 2021
9,TEST,3rd Test,Wednesday 25th August 15:30 IST,ENGLAND V INDIA 2021
10,TEST,4th Test,Thursday 2nd September 15:30 IST,ENGLAND V INDIA 2021
11,TEST,5th Test,Friday 10th September 15:30 IST,ENGLAND V INDIA 2021

###  Scrape the rank of State-wise GDP of India from statisticstime.com

In [58]:
import time

driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "http://statisticstimes.com/economy/india/indian-states-gdp.php"
driver.get(url)

In [65]:
# creating empty lists for scraping data
rank_of_state=[]
name_of_state=[]

rank=driver.find_elements_by_xpath("//td[@class='data1']")
for i in rank:
    if i.text is None :
        rank_of_state.append("----") 
    else:
        rank_of_state.append(i.text)

        
state=driver.find_elements_by_xpath("//td[@class='name']")
for i in state:
    if i.text is None:
        name_of_state.append("---") 
    else:
        name_of_state.append(i.text)

In [67]:
print(len(rank_of_state))
print(len(name_of_state))

68
68

In [68]:
# creating the dataframe
df=pd.DataFrame({"rank_of_state":rank_of_state,
                 "name_of_state":name_of_state})
                                 
df

   rank_of_state              name_of_state
0              1                        Goa
1              2                     Sikkim
2              3                      Delhi
3              4                 Chandigarh
4              5                    Haryana
..           ...                        ...
63            30                  Jharkhand
64            31              Uttar Pradesh
65            32                      Bihar
66            33  Andaman & Nicobar Islands
67                                    India

[68 rows x 2 columns]

###  Scrape the details of selenium exception from guru99.com.

In [76]:
import time

driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.guru99.com/selenium-tutorial.html"
driver.get(url)

In [72]:
# Fetching urls 
selenium_urls = []
urls = driver.find_elements_by_xpath("//td[@class='responsivetable']")
for url in urls:
    selenium_urls.append(url.get_attribute("href"))

In [73]:
selenium_urls

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]